version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: socket-server
    ports:
      - "5000:5000"
    networks:
      - app-network

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: socket-client
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
