Package: greeting
Version: 0.2
Section: utils
Priority: optional
Architecture: all
Maintainer: Anuja Suntnur <anujasuntnur@example.com>
Description: Interactive Python greeting script
 A small Python script that asks for your name and greets you.
